<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<%= debug @product_count.inspect %>

<h1> There are <%= @product_count %> products in the store across <%= @category_count %> categories</h1>
